:root {
    --primary-font: 'Chakra Petch', sans-serif;
    --secondary-font:'Roboto Slab', serif;
  
    --primary-color: #171918;
    --secondary-color: #ECEEED;
    --tertiary-color: #30A46C;
  }

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary-color);
    overflow-x: hidden;
    color: var(--secondary-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary-font);
}

h1 {
    font-size: 2em; 
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p, a, li, span, input, textarea, button {
    font-family: var(--secondary-font);
}
header{
    padding: 10px 20px; 
}

.nav-toggler {
    position: fixed;
    z-index: 10;
    right: 30px;
    height: 50px;
    width: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.line {
    position: absolute;
    display: block;
    width: 80%;
    height: 2px;
    background: var(--secondary-color);
    transition: transform 0.3s ease-out,
    opacity 0.1s ease-out;
}
.l1 {
    transform: translateY(-10px)
}
.l3 {
    transform: translateY(10px)
}
.nav-toggler.active .l1 {
    transform: translateY(0px) rotate(135deg);
}
.nav-toggler.active .l2 {
    opacity: 0;
}
.nav-toggler.active .l3 {
    transform: translateY(0px) rotate(-135deg);
}

nav {
    position: fixed;
    height: 80vw;
    width: 100vw;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--primary-color);
    border-bottom: 1px solid var(--secondary-color);
    transform: translateY(-150%);
    transition: transform 0.3s cubic-bezier(0.73, 0.11, 0.67, 0.84);
}
nav.active {
    transform: translateY(-8%);
}
nav a {
    color: var(--secondary-color);
    font-size: 20px;
    display: block;
    margin: 10px 0;
    text-decoration: none;
    cursor: pointer;

    transition: text-decoration 0.3s ease-out;

}

nav a:hover {
   text-decoration: underline;
   text-decoration:  rgba(127,45,253,1)  wavy underline;
}

.header {
    display: flex;
    align-items: center;
}

.liens {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header div h1 {
    display: block;
}

nav div h1 {
    display: none;
}

#about {
    height: 100vh;
    padding: 30px;
}

#about .content, #about .content2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.content div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.content div h2 {
    font-size: 8vw;
    line-height: 120px;
    background: linear-gradient(176deg, rgba(34,193,195,1) 10%, rgba(127,45,253,1) 68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: grayscale(100%);
}

#skills {
    padding: 30px;
}

#skills .contentSkills {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#skills .contentSkills img {
    width: 15vw;
    max-width: 150px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 20vw;
    width: 20vw;
    max-width: 200px;
    max-height: 200px;

    border-radius: 50em;
    padding: 50px;
    margin: 20px;
    background: rgb(34,193,195);
    background: linear-gradient(176deg, rgba(34,193,195,1) 10%, rgba(127,45,253,1) 68%);
}

form {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 30px;

    font-family: var(--secondary-font);

}

from label {
    font-size: 2.5em;
    margin: 10px 0;


}

form input {
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--secondary-color);

    border: 1px solid var(--secondary-color);
}

form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background: var(--primary-color);
    color: var(--secondary-color);

    border: 1px solid var(--secondary-color);

}

form button {
    width: 100px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--secondary-color);

    border: 1px solid var(--secondary-color);
    transition: 0.3s ease-out;
}

form button:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.svg {
    width: 30px;
    height: 30px;

    border-radius: 0;
    margin: 0;
}

/* .btn {
    width: 100px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--secondary-color);

    border: 1px solid var(--secondary-color);
    transition: 0.3s ease-out;

    position: absolute;
    top: 120px;
    right: 20px;
} */

.btn {
	height: 0;
	width: 0;
	visibility: hidden;
    
}

.btnLabel {
	cursor: pointer;
	text-indent: -9999px;
	width: 140px;
	height: 70px;
	background: #fbfbfb;
	border: 1px solid #e8eae9;
	display: block;
	border-radius: 100px;
    position: absolute;
    top: 120px;
    right: 20px;
}

.btnLabel:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 60px;
	height: 60px;
	background: #fbfbfb;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 4px 0 rgba(0, 0, 0, .08);
	border-radius: 30px;
	transition: 0.3s;
}

.btn:checked+.btnLabel {
	background: #86d993;
}

.btn:checked+.btnLabel:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.btn:active:after {
	width: 80px;
}



.content2 {
    display: none;
    opacity: 0;
    transform: translateX(-100%);
    transition: 0.3s ease-out;
    position: absolute;
}

.active2 {
    display: none;
    opacity: 0;
    transform: translateX(-100%);
    transition: 0.3s ease-out;
    position: absolute;

}

.view {
    opacity: 1;
    transform: translateX(0%);
    transition: 0.3s ease-out;
    position: relative;
}




@media screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        height: 100px;
        width: auto;
        padding: 0 20px;
        transform: translateY(0%);
        position: relative;
        justify-content: space-between;
    }
    nav a {
        margin: 0 20px;
    }
    .nav-toggler {
        display: none;
    }

    .liens {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }

    .header div h1 {
        display: none;
    }
    
    nav div h1 {
        display: block;
    }

    #about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about .content, #about .content2 {
        flex-direction: row;
    }

    img {
        width: 40%;
        margin: 0 50px;
    }

    #skills .contentSkills img {
        margin: 20px;
    }

}